:root {
  color-scheme: base;
  --neutral50: hsl(0, 0%, 100%);
  --neutral100: hsl(220, 14%, 96%);
  --neutral200: hsl(220, 13%, 91%);
  --neutral300: hsl(216, 12%, 84%);
  --neutral400: hsl(218, 11%, 66%);
  --neutral500: hsl(220, 9%, 44%);
  --neutral600: hsl(215, 14%, 36%);
  --neutral700: hsl(217, 19%, 27%);
  --neutral800: hsl(215, 28%, 17%);
  --neutral900: hsl(221, 39%, 11%);
  --error100: hsl(0, 93%, 94%);
  --error200: hsl(0, 96%, 89%);
  --error300: hsl(0, 94%, 82%);
  --error400: hsl(0, 91%, 71%);
  --error500: hsl(0, 84%, 60%);
  --error600: hsl(0, 72%, 51%);
  --error700: hsl(0, 74%, 42%);
  --error800: hsl(0, 70%, 35%);
  --error900: hsl(0, 63%, 31%);
  --warning100: hsl(55, 97%, 90%);
  --warning200: hsl(53, 98%, 83%);
  --warning300: hsl(50, 98%, 75%);
  --warning400: hsl(48, 96%, 53%);
  --warning500: hsl(45, 93%, 47%);
  --warning600: hsl(41, 96%, 40%);
  --warning700: hsl(35, 92%, 33%);
  --warning800: hsl(32, 81%, 29%);
  --warning900: hsl(28, 73%, 26%);
  --success100: hsl(100, 89%, 89%);
  --success200: hsl(101, 88%, 80%);
  --success300: hsl(102, 85%, 67%);
  --success400: hsl(103, 78%, 55%);
  --success500: hsl(104, 81%, 44%);
  --success600: hsl(105, 85%, 35%);
  --success700: hsl(106, 78%, 27%);
  --success800: hsl(107, 69%, 23%);
  --success900: hsl(108, 61%, 20%);
  --primary100: hsl(185, 96%, 94%);
  --primary200: hsl(186, 94%, 88%);
  --primary300: hsl(187, 92%, 75%);
  --primary400: hsl(188, 86%, 53%);
  --primary500: hsl(189, 94%, 43%);
  --primary600: hsl(190, 91%, 36%);
  --primary700: hsl(191, 82%, 31%);
  --primary800: hsl(192, 70%, 27%);
  --primary900: hsl(193, 64%, 24%);
  --text-clr: var(--neutral800);
  --text-clr-alt: var(--neutral600);
  --text-clr-inverted: var(--neutral50);
  --border-clr-primary: var(--neutral400);
  --border: 1px solid var(--border-clr-primary);
  --input-border-clr: var(--neutral500);
  --outline-clr-primary: var(--neutral600);
  --outline: 2px solid var(--outline-clr-primary);
  --input-outline: 1px solid var(--outline-clr-primary);
  --radius: 5px;
  --btn-font-size: 1.6rem;
  --btn-icon-size: 2.4rem;
  --btn-icon-gap: 8px;
  --btn-text-clr: var(--text-clr-alt);
  --btn-bg-clr: var(--neutral50);
  --btn-hover-text-clr: var(--text-clr);
  --btn-hover-bg-clr: var(--neutral100);
  --btn-hover-shadow: none;
  --btn-border: none;
  --btn-border-radius: var(--radius);
  --btn-height: 40px;
  --btn-padding: 0.5em;
  --banner-bg-clr: var(--neutral100);
  --banner-text-clr: var(--text-clr);
  --banner-icon-clr: var(--primary700);
  --banner-btn-hover-clr: var(--neutral200);
  --banner-btn-active-clr: var(--neutral300);
  --banner-btn-size: 40px;
  --banner-border-radius: var(--radius);
  --dropdown-border-radius: var(--radius);
  --dropdown-border-clr: var(--input-border-clr);
  --dropdown-height: 40px;
  --dropdown-input-height: calc(var(--dropdown-height) - 2px);
  --dropdown-padding: 6px;
  --dropdown-padding-left: calc(var(--dropdown-padding) * 2);
  --dropdown-padding-right: var(--dropdown-height);
  --dropdown-text-clr: var(--text-clr);
  --dropdown-bg-clr: none;
  --dropdown-text-size: 1.6rem;
  --dropdown-icon-size: 2.4rem;
  --dropdown-icon-gap: calc(
    (var(--dropdown-height) - var(--dropdown-icon-size)) / 2
  );
  --dropdown-icon-clr: var(--neutral600);
  --menu-box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  --menu-bg-clr: var(--neutral50);
  --menu-border-radius: var(--radius);
  --menu-max-height: 300px;
  --menu-padding-top: calc(var(--option-height) / 8);
  --option-font-size: var(--dropdown-text-size);
  --option-icon-size: var(--dropdown-icon-size);
  --option-height: 32px;
  --option-bg-clr: none;
  --option-text-clr: inherit;
  --option-icon-clr: var(--neutral600);
  --option-selected-clr: var(--text-clr-inverted);
  --option-padding: var(--dropdown-padding);
  --option-padding-horizontal: calc(var(--dropdown-padding) * 2);
  --option-icon-gap: 8px;
  --option-border-clr: var(--neutral50, transparent);
  --input-height: 40px;
  --input-padding-horiz: 12px;
  --input-font-size: 1.6rem;
  --input-icon-size: 2.4rem;
  --input-text-clr: var(--text-clr);
  --input-border-color: var(--input-border-clr);
  --input-border: 1px solid var(--input-border-color);
  --input-border-radius: var(--radius);
  --input-bg-clr: none;
  --input-transition: none;
  --textarea-height-sm: 80px;
  --textarea-height-md: 140px;
  --textarea-height-lg: 200px;
  --toggle-unchecked: var(--neutral400);
  --toggle-checked: var(--primary700);
  --toggle-size: 2.4rem;
  --toggle-travel: calc(var(--toggle-size) * 0.666);
  --loader-clr: var(--neutral500);
  --loader-size: 16px;
  --table-border-clr: var(--neutral300);
  --table-border-width: 1px;
  --table-bg-clr: var(--neutral50);
  --table-font-size: 1.6rem;
  --table-header-font-size: 0.812em;
  --table-border-radius: var(--radius);
  --table-padding-vert: 8px;
  --table-padding-horz: 12px;
  --table-sort-icon-clr: var(--text-clr);
  --table-sort-icon-hover-clr: var(--neutral400);
  --tab-border-width: 1px;
  --tab-border-clr: var(--border-clr-primary);
  --tab-padding-hori: 16px;
  --tab-padding-vert: 8px;
  --tab-radius: var(--radius);
  --tab-bg-clr: var(--neutral100);
  --tab-border-width: 1px;
  --tab-border-clr: transparent;
  --tab-text-clr: var(--text-clr-alt);
  --icon-size-sm: 18px;
  --icon-size-md: 24px;
  --icon-size-lg: 36px;
  --popover-animation: transform 200ms ease, opacity 200ms;
  --popover-distance: 5px;
  --choose-unchecked: var(--neutral600);
  --choose-checked: var(--primary700);
  --choose-check-border-clr: var(--choose-unchecked);
  --choose-check-bg-clr: none;
  --choose-check-size: 20px;
  --choose-label-text-size: 1.6rem;
  --choose-label-padding-top: 0;
  --choose-label-padding-left: 32px;
  --choose-label-height: 24px;
}
